* {
    margin:0;
    padding:0;
    box-sizing: border-box
}
body{
    background-color: rgba(209, 201, 201, 0.914);
    
}
main{
    
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    margin: auto;
    box-shadow: black;
    

}
.tr{
    color: orange;
    padding: 2em;
    width: 100%;


    
}
.gr{
   color: alice-blue;
    padding: 2em;
    width: 100%;


}
.fr{
    color: green;
    padding: 2em;
    width: 100%;

}
.mr{

    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    margin: auto;
    padding: 20px;
    color: green;
border-color: Black;
width: 100%;

}
.gm{
    font-size: 16px;
    color: white;
    padding: 30px 20px;
}
